# TurtleWoW 1.17.2 Docker Environment Configuration

# Database Credentials
DB_ROOT_PASSWORD=mangos
DB_PORT=3306

# Game Server Ports
AUTH_PORT=3724
WORLD_PORT=8091

# C++ Build Options
CMAKE_BUILD_TYPE=Release
