# TurtleWoW 1.17.2 Docker Environment Configuration

# Core Git Repository (Cloned automatically during docker build)
GIT_REPO=https://github.com/d3athbl0w/twow-1172.git
GIT_BRANCH=master

# Local Core Source Location (Used for dev recompilation / builder service)
SOURCE_PATH=../twow-1172

# Data & SQL Paths (Default: internal folders in docker project)
# Game Data Download: https://github.com/d3athbl0w/twow-1172/releases/download/data/data.zip
DATA_PATH=./data
SQL_PATH=./database/sql

# Database Credentials
DB_ROOT_PASSWORD=mangos
DB_PORT=3306

# Game Server Ports
AUTH_PORT=3724
WORLD_PORT=8091

# C++ Build Options
CMAKE_BUILD_TYPE=Release

